/*

viridian green: #40826d 
orange: #f4b200;
gray: #595959;

*/

/*fonts
font-family: 'Oswald', sans-serif;
font-family: 'Droid Serif', serif;
Experience the healing powers of cannabis oil
*/



/*General Styling*/
.logged-in .navbar-fixed-top {
    top: 32px;
}


* {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Raleway', sans-serif;

}
a {
    color: #40826d
}

img {
    border-radius: 3px;
}

p, li {
font-size: 14px;
line-height: 150%;

    /*line-height: 170%;
    color: #595959;
    
    letter-spacing: 1px;*/
}
.panel-body li {
    color: #40826d;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    color: #595959;
    font-weight: bold;
}


h1#taglinetext {
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px; 
    margin-bottom: 30px;
    color: white;
}

h3 {
    font-size: 25px;
}

h4 {
    color: black;
    font-size: 24px;
}

div.product_block h4 {
    margin-top: 30px; 
    color: white;
}

h1#product_main_heading {
    text-align:center;
}


div.products_heading h2 {
    margin-bottom: 40px;
    margin-top: 40px;
}
body {
    margin-top: 49px !important;
    background-color: white;
    background: url('../images/bg.png') fixed;
}
.no-pad {
    padding-left: 0;
    padding-right: 0;
}
.btn-default {
    background-color: #40826d;
    color: white;
    font-weight: bold;

}

#scroll1 {
    margin-top: 20px;
}


#scroll1,
#scroll2,
#scroll3,
#scroll4 {
    cursor: pointer;
}
p.fom {
    padding: 13px 30px;
    background-color: #f4b200;
    color: white;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #f4b200;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 90%;
    text-align: center;
}

p.download_infopack {
    padding: 13px 30px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid white;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 90%;
}

p.reg {
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid white;
    width: 250px;
    height: 50px;
}
p.reg-bottom {
    padding: 15px 30px;
    background-color: #84959D;
    color: white;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #84959D;
    width: 250px;
    height: 50px;
}
p.reg-bottom a {
    color: white;
}
p.reg a {
    color: white;
}
p.fom a {
    color: white;
}
/*Navbar*/

.navbar-default .navbar-toggle .icon-bar {
    color: white !important;
}



div#myNavbar li {
    font-size: 13px;
    margin-top: 7px;
}
.navbar-brand {
    padding: 8px 15px;
    padding-top: 4px;
    font-size: 25px;
}
.navbar-inverse {
    border: none;
}
.navbar-inverse {
    background-color: white;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: black;

}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: black;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
    color: black;
    margin-right: 0;
    margin-left: 0; 
}

.navbar-default .navbar-nav>li>a:focus, a:visited{
    color: #595959 ;
}

div#myNavbar li {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active {
    color: black;
    font-weight: bold;

}


.navbar-nav>li>a {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
}
/*Hero Section*/

#hero {
    padding: 75px 20%;
    text-align: center;
    background: url('http://www.cannabishealing.co.za/wp-content/uploads/2018/10/homepageimage.jpg') 10% 0 repeat fixed;
    color: #fff;
    background-size: cover;
}
.prepare p {
        color: #595959;
}
img#hero_logo {
    width: 450px;
}

p.top_tagline {
    font-size: 14px;
    margin-bottom: 0px;
}

h1.main_title   {
    font-size: 54px;
    margin-top: 5px;
}
p.header_icons  {
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

p.header_icons img {
    width: 35px;
    margin-right: 3px;
    margin-left: 5px;
    margin-top: -5px;    
}

p.header_icons img:nth-child(2) {
    margin-left: 15px;
}

p.header_icons img:nth-child(3) {
    margin-left: 15px;
}


p.intro {
    margin-bottom: 30px;
}
/*Tagline Section*/

#tagline {
    padding: 20px 0;
    padding-bottom: 0px;
    text-align: center;
    background-color: #40826d;
    color: white;
    margin-top: -20px;
}

blockquote {
    border-left: 5px solid white;
}


div.prepare {
    
    padding:20px; 
    margin-bottom: 20px;
    color: #000000;
    color: white;
    /*background: url('../images/banners/header_image.jpg');*/
    background-size: cover;
    }
div.prepare img {
    margin-top: 70px;
}
/*oppurtunity*/

div.oppurtunity {
    text-align: center;
    background-color: #40826d;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
div.oppurtunity p {
    color: white;
}

div.oppurtunity h3 {
    color: white;
}
/*Icon*/

div.icons div {
    margin-top: 5px;
    min-height: 100px;
}

div.icons {
    margin-bottom: 50px;
}

div.icons img {
    
}

/*GREY CTA*/

div.grey-cta {
    background-color: #40826d;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
div.grey-cta h3{
    color: white;
}

hr {
    margin-top: 40px;
    border-bottom: 1px solid #e5e9ea;
}

hr.short_line {
    margin-top: 40px;
    border-bottom: 1px solid #e5e9ea;
    width: 40%;
    margin-bottom: 40px;
}

div.hr-arrow {
    text-align: center;
}
div.hr-arrow img {
    margin-top: -65px;
    background-color: green;
    cursor: pointer;
}
/*Make better managerial decisions*/

div.decisions {
    
    padding: 50px 15px;
    
}
/*mastering*/

div.mastering {
    text-align: center;
    padding: 20px;
}
/*form styling*/
/*telephone input*/
label {
    color: black;
}
.intl-tel-input {
    display: inherit !important;
}

.btn-default:hover {
    border: 1px solid #595959;
    background-color: transparent;
}
.btn-default {
    border-color: #f4b200;
    background-color: #f4b200;
}
/*unique*/

div.unique {
    text-align: center;
    color: white;
}
div.buttons {
    text-align: center;
}
.panel {
    background-color: white;
}

.panel-default>.panel-heading {
    background-color: transparent;
}
.panel p {
    color: #40826d;
}
.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
    color: white;
}
.panel-title {
    text-align: left;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    text-align: left;
}
.panel-default>.panel-heading {
    padding: 20px 10px;
}
/*Accordian Styling*/
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: #40826d;
    font-size: 18px;
}
h3.learn_more {
    margin-bottom: 30px; 
    margin-top: 40px;
}

div.accordian_arrow img {
    display: inline;
    position: relative;
    top: 16px;
    right: -96.5%;
    width: 25px;
    background-color: #40826d;
}


div.accordian_arrow {
    height: 55px;
    margin: none;
    padding: none;
    margin-top: -35px;

}
.panel-default>.panel-heading {
    padding-bottom: 0px;
    padding-right: 0px;
}
/*single_product_container*/
.single_product_container {
    padding-top: 30px;
}
.single_product_container .image-container img {
    max-width: 100%;
    border-radius: 15px;
    border: 2px solid #40826d;
    margin-top: 25px;
}
.single_product_container {
    word-wrap: break-word;
}
.page_container {
    padding-top: 30px;
}
.product_category_instance {
    margin-bottom: 15px;
}
.product_category_instance h3{
    text-align:center;
    font-size: 14px;
    text-transform: uppercase;
}
.card{
    border: 2px solid #40826d;
    border-radius: 5px;
    cursor: pointer;
}
.card_head {
    height: 250px;
}
.card_body h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.modal-header {
    background-color: #40826d;
}
.modal-header h4 {
    color: #ffffff;
}
.modal-body  {
    background: url('../images/bg.png') fixed;    
}

.modal-dialog {
    max-width: 450px;
}
.close {
    font-size: 35px !important;
}
/*Footer*/
p.copyright {
    color: #959595;
    font-size: 75%;
}
#footer {
    text-align: center;
    background-color: #2B2B2B;
    color: white;
    padding: 50px 50px;
}
img.footer-logo {
    padding-bottom: 10px;
    border-bottom: 1px solid #4c4c4c;
}
p.find-us {
    margin-top: 10px;
    font-size: 80%;
}
ul.footer-icons li {
    display: inline-block;
    margin-left: 0;
}
ul.footer-icons {
    padding-left: 0;
    font-size: 50px;
}
#footer ul li {
    list-style-type: none;
    line-height: 1.8;
}
#footer ul li a {
    color: #959595;
    text-decoration: none;
    cursor: pointer;
}
#footer ul li a:hover {
    color: white;
    text-decoration: none;
}

/* nuwe site round 2*/
.carousel-inner blockquote p {
    padding-top:50px;
    padding-bottom:50px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
#myCarousel {
    background-color: #40826d;
    color: white;
}
.prepare .heading h3 {
    margin-bottom: 40px;
}
.card_header {
    height: 220px;
    border:2px solid #40826d;
    border-radius: 15px;
}
.card_header:hover {
    cursor: pointer;
}
.card_footer h3 {
    font-size: 16px;
}
#product-taxonomy-page .product_category_instance {
    min-height: 410px;
}
.price {
    font-size: 20px !important;
    font-weight: bold;
}
.product_category_instance .price {
    text-align: center;
}
.navbar-right li a{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

.custom_sidebar ul{
    padding-left: 0px;
    list-style: none;
}
.more_reading_container, .blog_block {
    /*background-color: red;*/
}
.more_reading_container h2 {
    font-size: 16px;
}
.single_blog_content {
    padding-bottom: 40px;
}
.single_blog_content h1 {
    font-size: 26px;
}
.top-container-single {
    padding-top: 20px;
}
.blog_image_container {
    height: 230px;
    border: 2px solid #40826d;
    border-radius: 15px;
}
.blog_image_container:hover {
    cursor: pointer;
}
.blog_main_content {
    margin-top: 20px;
    padding-top: 15px;
}

.product_row {
    border: 1px solid #595959;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.breadcumbs {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.banner {
    padding: 20px;
}
.breadcumbs a{
    color: #40826d;
}
.container-products img {
    max-width: 100%;
}
.container-products {
    margin-bottom: 20px;
}
.single_product_container {
    width: 300px;
    height: 400px;
    border-radius: 15px;
}
.small_text {
    font-size: 12px;
}
.cat_description {
    height: 50px;
}
.card-cta {
    padding: 5px;
}
.card-cta a {
    cursor: pointer;
}
.product_category_instance {
    border: 1px solid #595959;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
.product_category_instance p a{
    color: black;
}
.product_category_instance p{
    font-size: 12px;
}
.image_holder {
    border:2px solid #40826d;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin:auto;
    margin-top: 15px;
}
.small-title {
    font-weight:normal !important;
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #595959;
}
.image_holder {
    cursor: pointer;
}
.product_info h4{
    font-size: 16px;
}
.product_info .nav>li>a{
    padding: 5px 10px;
}
.product_info .cta {
    background-color: #f4b200;
    border-radius: 4px;
    color: white;
}
.product_info .cta:hover {
    color: white;
    background-color: #f4b200;
    opacity: 0.8;
    cursor: pointer;
}
.guide_button a{
    border-radius: 10px;
    /*border:2px solid #40826d;*/
}
.product_title {
    font-size: 14px;
    display: inline;
    text-decoration:underline;
}

/*Media Queries*/

@media (min-width: 1200px) {
    div.icons div {
        margin-top: 5px;
        min-height: 70px;
    }
    div.icons img {
        margin-top: -5px;
    }
    .navbar-default {
        height: 60px;
        color: white !important;
        border-bottom: 2px solid #40826d;
    }
    div.oppurtunity {
        padding: 15%;    
    }
    .blog_block_single img {
    width: auto !important;
    }
    .product_info .nav-pills {
        margin-bottom: 30px;
    }
}
    


}

@media (min-width: 990px) and (max-width: 1199px) {
    div.accordian_arrow img {
        right: -94.5%;
    }
    .navbar-default {
        height: 60px;
    }
    .blog_block_single img {
    width: auto !important;
    }
}



@media (min-width: 768px) and (max-width: 1199px) {
    div.icons div {
        margin-top: 5px;
        min-height: 100px;
    }
    div.icons img {
        margin-top: 5px;
    }
    div.accordian_arrow img {
        right: -91.5%;
    }

    p.icons-text {
    padding-left: 20px;
    padding-top: 8px;
    }
}

@media (min-width: 760px) and (max-width: 990px) {
    div.icons img {
        
    }
    p.molecule_lead {

    }
}




@media (max-width: 991px) {
    .product_image {
        text-align: center;
    }
    .breadcumbs {
        text-align: center;
    }
    .product_info {
        margin-top: 15px;
    }
    .product_info .nav-pills a {
        font-size: 13px;
    }
    .single_product_container {
        margin: auto;
    }
}    
@media (max-width: 782px) {
.logged-in .navbar-fixed-top {
    top: 46px;
    }
}

@media (max-width: 760px) {
    img#hero_logo {
        width: 250px;
    }

    .blog_block_single img {
        width: 95%
    
    }

    .navbar-brand {
        padding: 0px 9px;
        padding-top: 4px;
        font-size: 25px;
        margin-top: -4px;
    }

    div.accordian_arrow img {
        right: -89%;
    }

    div.icons img {
        width: 125px;

    }

    div.icons {
        /*text-align: center;*/
    }

    #hero {
    padding: 100px 2%;
    background: url('http://www.cannabishealing.co.za/wp-content/uploads/2018/10/mobileheader.png') cover no-repeat scroll !important; 
    background-position: center;
    }

    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    font-size: 12px;
    }


}
    
}

@media (max-width: 600px) {
.logged-in .navbar-fixed-top {
    top: 42px;
    }
}

.molecule_img_div {
    text-align: center;
    
}

div.molecule_height {
    padding-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #595959;
}
div.molecule_height h3{
    color: black;
}


div.molecule_height p {
    color: black;
}

div.product_block {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 25px;
}

div.product_block img {
    width: 100%;
}

div.product_block li {
    color: #595959;
}

div.product_block  {
    text-align: center;
}

div.product_block h4 {
   color: #595959;
   font-size: 18px !important;
}

div.products_heading {
    text-align: center;
}
div.products_heading h3 {
    margin-bottom: 20px;
}


/*Blog Styling*/
.blog_sidebar ul {
    list-style-type: none;
}
.blog_sidebar li::before {
  content: "- ";
  color: #40826d;
}



p.post-info {
    font-size: 12px !important;
}

.blog_block img{
    width: 100% !important;
}
.blog_block_single img {
    max-width: 100%;
}

h2.blog_template_heading {
    margin-top: 20px;
}

.blog_sidebar a:link, a:visited{
    font-size: 12px;
    color: #40826d;
}

.blog_sidebar {
 
}
.blog_sidebar ul {
    margin-left: -40px;
}

.blog_block h2 {
    font-size: 14px;
}
h2.blog_heading {
    margin-top: 30px;
}


.blog_block .entry-title a{
    color: white;
}


.blog_block a {
    color: #40826d;
}

.blog_block_single a {
    color: #40826d;
}
.row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

div.icons ul {
    margin-left:-30px;
}
p#btt {
    margin-top: -15px;
    font-size: 85%;
}

.navbar-default .navbar-toggle {
    border: 1px solid transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #4a5b43; /* Changes toggle color on hover */
}
.navbar-toggle {
    background-color: #40826d;
}

a#sitemap {
    font-size: 60%;
    color: #959595;
}


/*pagination*/

.pagination_area a{
    color:#40826d !important;
}

.pagination_area ul{
    text-align: center;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    cursor: pointer;
}

